

/* Default (desktop/tablet hidden) */
.mobile-header,
.mobile-nav {
  display: none;
}

@media (min-width: 320px) and (max-width:992px) {
      
        
    
    .main{
        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 1rem;
        padding-bottom: 2.5rem;
    }
  .mobile-header {
    margin: 1rem;
    margin-top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: rgba(255, 255, 255, 0.85);
     border-radius: 5%;
  }

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
  }

  .logo-dot {
    width: 12px;
    height: 12px;
    background-color: #f97316;
    border-radius: 50%;
    margin-right: 8px;
  }

  .hamburger {
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }

  .mobile-nav {
    display: none;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    padding: 16px;
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 10;
  }

  .mobile-nav.show {
    display: block;
  }

  .mobile-nav ul {
    list-style: none;
    padding: 0;
  }

  .mobile-nav li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    color: #333;
  }
  .desktop-nav{
display: none;
}
}

@media(max-width:768px){
    .main{
        background-image: url(../assets/mobilenavbg.jpg);
        height:534px ;
        width: 100%;
    }
    .textnav2{
/* Sample Project builds and nurtures independent brands that do more than compete they connect, inspire, and redefine the emotional and cultural fabric of everyday life */

position: absolute;
width: 371px;
height: 120px;
left: calc(50% - 371px/2 + 1.5px);
top: 266px;

font-family: 'Afacad';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 168.52%;
/* or 30px */
text-align: center;

color: #FFFFFF;



        
    }
    .textnav{
/* Where Vision Becomes Venture */

position: absolute;
width: 370px;
height: 120px;
left: calc(50% - 337px/2 + 1.5px);
top: 136px;

font-family: 'Afacad';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
text-align: center;

color: #FFFFFF;



        
    }
    .btnnav{
        
    /* Group 28 */

position: absolute;
width: 400.39px;
height: 52.33px;
left: calc(50% - 308.39px/2 + 1.19px);
top: 434px;



/* Rectangle 70 */

box-sizing: border-box;

position: absolute;
width: 400.39px;
height: 52.33px;
left: 53px;
top: 434px;

background: #625474;
border: 0.934503px solid #FFFFFF;
border-radius: 45.7906px;


/* Discover Our Vision */

position: absolute;
width: 240px;
height: 40px;
left: calc(50% - 184px/2 - 20px);
top: 440px;

font-family: 'Afacad';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 168.52%;
/* or 40px */
text-align: center;

color: #FFFFFF;


}
.desktop-nav{
display: none;
}
}


@media(min-width:768px)  and (max-width:992px) {
    header{
       Width:643px;
       Height:54px;

    }
    .main{
        background-image: url(../assets/tabnav.jpg);
        Width:100%;
        Height:407px;
    }
    .textnav{/* Where Vision Becomes Venture */

position: absolute;
width: 570px;
height: 56px;
left: calc(50% - 507px/2 - 50px );
top: 109px;

font-family: 'Afacad';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 56px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


}
.btnnav{
  display: none;
}

.textnav2{
 /* Sample World builds and nurtures independent brands that do more than compete they connect, inspire, and redefine the emotional and cultural fabric of everyday life */

position: absolute;
width: 522px;
height: 90px;
left: calc(50% - 522px/2);
top: 175px;

font-family: 'Afacad';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 168.52%;
/* or 30px */
text-align: center;

color: #FFFFFF;




}
    .msg{
        background-image: url(../assets/msgmid.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        Width:68.51px;
        Height:54.19px;
        position: absolute;
        Top:20px;
        Left:679px;
    }
    .desktop-nav{
      display: none;
    }


}

@media (min-width: 992px) {
  .main {
    background-image: url(../assets/img4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    position: relative;
  }

  
  .textnav,
  .textnav2,
  .btnnav {
    display: none;
  }
.main{
  padding: 1.6rem;
}
  .desktop-nav{
    height: 53px;
    background-color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: space-between;
  width: 90%;
 
  }
  .desktop-nav>ul{
    margin-right: 2rem;
    display: flex;
  
  }
  .desktop-nav>ul>li{
    margin-left: 20px;
  }
  
.logo {
  margin-left: 2rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
  }

  .logo-dot {
    width: 12px;
    height: 12px;
    background-color: #f97316;
    border-radius: 50%;
    margin-right: 8px;
  }

 .desktop-nav ul li.active {
    color: #000;
    font-weight: bold;
  }

  .desktop-nav ul li.active::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #5b2de8;
    border-radius: 2px;
    width: 100%;
  }
}
