@media (max-width: 768px) {
  .hello {
    height: auto; /* allow content to define height */
    max-height: 17rem;
    background-size: cover;
    background-position: top;
    padding-bottom: 2rem;
  }
    .vision-title {
    font-size: 1rem;
    line-height: 1;
    white-space: normal;
  }

  .vision-text {
    font-size: 0.80rem;
    font-weight: 500;
    padding: 0 1rem;
  }

  .vision-button {
    padding: 0.5rem 1.2rem;
    font-size: 0.95rem;
  }

  .vision-content {
    padding: 0 1rem;
  }

}
@media (max-width: 412px) {
  .hello {
    height: auto; /* allow content to define height */
    max-height: 10rem;
    background-size: cover;
    background-position: top;
    padding-bottom: 2rem;
  }
}
